@{
    ViewBag.Title = "HomePage";
}

<div id="questionbox" class="container">
    <div class="form-group">
        <label id="question_title"for="comment">Question:</label>
        <textarea autofocus class="form-control" rows="9" id="question"></textarea>
    </div>
    <button id="Ask" type="button" class="btn btn-success, title">Ask</button>
    <br />
    <br />
    <br />

    <div id="search_result" class="list-group">
           <div id="question_links"></div>
    </div>
</div>
