@{
    ViewBag.Title = "HomePage";
}

<div id="questionbox" class="container">
    <div class="form-group">
        <label for="comment">Question:</label>
        <textarea autofocus class="form-control" rows="9"  id="comment"></textarea>
    </div>
    <button id="Ask" type="button" class="btn btn-success, title">Ask</button>
</div>