body {
}


#userInfo {
    position: relative;
    margin-top: 6%;
    width: 74%;
    margin-left: 13%;

}
h3 {
    margin-top:300px;
    margin-bottom:40px;
}

#profilepic {
    width:100px;
    height:100px;
}

#userInfo h1 {
    margin-bottom:-25px;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    font-size:20px;
}

#userInfo h2 {
    margin-bottom:0px;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    font-size:15px;
}

#edit {
    font-size:20px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:3px;
    top:580px;
    position:fixed;
}