

#SignUpBoxn{
    height:40%;
    width:40%;
    background-color:black;
        -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

#signInbutton h1{
font-size:49px;
        -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}
#username{
height:25px;
width:80%;
 font-size:20px;
}