@{
    ViewBag.Title = "ResponsePageLoad";
}
<div id="center-col">
    <div id="QuestionSection" class="container">


        <div id="questions">Question:</div>
        <div id="question"></div>

        @*    <img class="user" src="~/images/traveller.png" aria-hidden="true" style="float: left" />
    <div class="question_part form-group" style="float: left">
        <textarea style="cursor: default; background-color: #f5f5f5; border: none; outline: none; box-shadow: none" class="response_box form-control" readonly>#pregnant , im going to #Rome what kind of #medication should I take along. </textarea>
        <div class="response_stat">
            &nbsp;
            <img class="stat_icons" src="~/images/like.png" aria-hidden="true" />
            &nbsp; 10  &nbsp <a class="Like" href="#">Like</a> &nbsp; &nbsp;
            <img class="stat_icons" src="~/images/comment.png" aria-hidden="true" />
            &nbsp; 20  &nbsp; <a class="Comment" href="#">Comment</a>
            <div style="float: right">&nbsp;&nbsp; By &nbsp; Ms. <a class="user_link" href="#">Rania</a></div>
            <div style="float: right">Posted &nbsp; 4/27/2015</div>
        </div>
        <br style="clear: both" />
    </div>*@

    </div>


    <div id="ResponseSection" class="container">


        <div id="answers">
            Answers:
        <div id="recent" class="order">Recent</div>
            <div id="popular" class="order">Popular</div>
        </div>

        @*  <img class="doc user" src="~/images/doctor2.png" aria-hidden="true" style="float: left" />
    <div class="doc response form-group" style="float: left">
        <textarea style="cursor: default; background-color: #f5f5f5; border: none; outline: none; box-shadow: none" class="response_box form-control" readonly>A vaccine is a biological preparation that provides active acquired immunity to a particular disease. A vaccine typically contains an agent that resembles a disease-causing microorganism and is often made from weakened or killed forms of the microbe, its toxins or one of its surface proteins. The agent stimulates the body's immune system to recognize the agent as a threat, destroy it, and keep a record of it, so that the immune system can more easily recognize and destroy any of these microorganisms that it later encounters.</textarea>
        <div class="response_stat">
            &nbsp;
            <img class="stat_icons" src="~/images/like.png" aria-hidden="true" />
            &nbsp; 10  &nbsp <a class="Like" href="#">Like</a> &nbsp; &nbsp;
            <img class="stat_icons" src="~/images/comment.png" aria-hidden="true" />
            &nbsp; 20  &nbsp; <a class="Comment" href="#">Comment</a>
            <div style="float: right">&nbsp;&nbsp; By &nbsp; Dr. <a class="user_link" href="#">Moataz</a></div>
            <div style="float: right">Posted &nbsp; 4/27/2015</div>
        </div>
    </div>
    <br class="doc" style="clear: both" />

    <img class="doc2 user" src="~/images/doctor.png" aria-hidden="true" style="float: left" />
    <div class="doc2 response form-group" style="float: left">
        <textarea style="cursor: default; background-color: #f5f5f5; border: none; outline: none; box-shadow: none" class="response_box form-control" readonly>The administration of vaccines is called vaccination. The effectiveness of vaccination has been widely studied and verified; for example, the influenza vaccine,[1] the HPV vaccine,[2] and the chicken pox vaccine.[3] Vaccination is the most effective method of preventing infectious diseases;[4] widespread immunity due to vaccination is largely responsible for the worldwide eradication of smallpox and the restriction of diseases such as polio, measles, and tetanus from much of the world. The World Health Organization (WHO) reports that licensed vaccines are currently available to prevent or contribute to the prevention and control of twenty-five infections.[5]</textarea>
        <div class="response_stat">
            &nbsp;
            <img class="stat_icons" src="~/images/like.png" aria-hidden="true" />
            &nbsp; <label id="lid-3" val=2  >2</label> &nbsp <a  rid=3  class="Like" >Like</a> &nbsp; &nbsp;
            <img class="stat_icons" src="~/images/comment.png" aria-hidden="true" />
            &nbsp; 20  &nbsp; <a class="Comment" href="#">Comment</a>
            <div style="float: right">&nbsp;&nbsp; By &nbsp; Dr. <a class="user_link" href="#">Moataz</a></div>
            <div style="float: right">Posted &nbsp; 4/27/2015</div>
        </div>
    </div>
    <br class="doc2" style="clear: both" />

    <img class="ta user" src="~/images/travel_agency.png" aria-hidden="true" style="float: left" />
    <div class="ta response form-group" style="float: left">
        <textarea style="cursor: default; background-color: #f5f5f5; border: none; outline: none; box-shadow: none" class="response_box form-control" readonly>Prior to the introduction of vaccination with material from cases of cowpox (heterotypic immunisation), smallpox could be prevented by deliberate inoculation of smallpox virus, later referred to as variolation to distinguish it from smallpox vaccination. This information was brought to the West in 1721 by Lady Mary Wortley Montagu, who showed it to Hans Sloane, the (British) King's physician.[32]</textarea>
        <div class="response_stat">
            &nbsp;
            <img class="stat_icons" src="~/images/like.png" aria-hidden="true" />
            &nbsp; 10  &nbsp <a rid=3 class="Like" href="#">Like</a> &nbsp; &nbsp;
            <img class="stat_icons" src="~/images/comment.png" aria-hidden="true" />
            &nbsp; 20  &nbsp; <a class="Comment" href="#">Comment</a>
            <div style="float: right">&nbsp;&nbsp; By &nbsp; Dr. <a class="user_link" href="#">Moataz</a></div>
            <div style="float: right">Posted &nbsp; 4/27/2015</div>
        </div>
    </div>
    <br class="ta"style="clear: both" />
 
    <img class="trav user" src="~/images/traveller.png" aria-hidden="true" style="float: left" />
    <div class="trav response form-group" style="float: left">
        <textarea style="cursor: default; background-color: #f5f5f5; border: none; outline: none; box-shadow: none" class="response_box form-control" readonly>A number of innovative vaccines are also in development and in use:

Dendritic cell vaccines combine dendritic cells with antigens in order to present the antigens to the body's white blood cells, thus stimulating an immune reaction. These vaccines have shown some positive preliminary results for treating brain tumors.[19]
Recombinant Vector – by combining the physiology of one micro-organism and the DNA of the other, immunity can be created against diseases that have complex infection processes
DNA vaccination – an alternative, experimental approach to vaccination called DNA vaccination, created from an infectious agent's DNA, is under development. The proposed mechanism is the insertion (and expression, enhanced by the use of electroporation, triggering immune system recognition) of viral or bacterial DNA into human or animal cells. Some cells of the immune system that recognize the proteins expressed will mount an attack against these proteins and cells expressing them. Because these cells live for a very long time, if the pathogen that normally expresses these proteins is encountered at a later time, they will be attacked instantly by the immune system. One potential advantage of DNA vaccines is that they are very easy to produce and store. As of 2015, DNA vaccination is still experimental and is not approved for human use.
T-cell receptor peptide vaccines are under development for several diseases using models of Valley Fever, stomatitis, and atopic dermatitis. These peptides have been shown to modulate cytokine production and improve cell mediated immunity.
Targeting of identified bacterial proteins that are involved in complement inhibition would neutralize the key bacterial virulence mechanism.[20]
While most vaccines are created using inactivated or attenuated compounds from micro-organisms, synthetic vaccines are composed mainly or wholly of synthetic peptides, carbohydrates, or antigens.</textarea>
        <div class="response_stat">
            &nbsp;
            <img class="stat_icons" src="~/images/like.png" aria-hidden="true" />
            &nbsp; 10  &nbsp <a class="Like" href="#">Like</a> &nbsp; &nbsp;
            <img class="stat_icons" src="~/images/comment.png" aria-hidden="true" />
            &nbsp; 20  &nbsp; <a class="Comment" href="#">Comment</a>
            <div style="float: right">&nbsp;&nbsp; By &nbsp; Mr.<a class="user_link" href="#">Nisal Barkouky</a></div>
            <div style="float: right">Posted &nbsp; 4/27/2015</div>
        </div>
    </div>
            <br class="trav" style="clear: both" />*@
        <div id="reponses">
        </div>

    </div>

    <div id="YourAnswerSection" class="container">

        <div id="your-answer">Your Answer:</div>
        <div><span></span><span></span></div>
        <div class="question_part form-group" style="float: left">
            <textarea style="height: 350px;" id="your-answer-box" class="form-control"></textarea>

        </div>
        <br style="clear: both" />
        <button id="your-answer-post" type="button" class="btn btn-success, title">Post</button>

    </div>
</div>

<div id="right-side-col">
    <div style="position: fixed;">
        <div class="links">
            <div class="links-title">Links:</div>
            @*    <div class="link">
  <label> &nbsp;&nbsp;<img class="user" src="~/images/linkdoctor.jpg" aria-hidden="true" />&nbsp;  </label>
</div>*@
            <div class="link ">
                <label>&nbsp;&nbsp;<img class="user" src="~/images/link-travel-agent.jpg" aria-hidden="true" />&nbsp;  </label>
            </div>

            @*<div class="link">
  <label>&nbsp;&nbsp;<img class="user" src="~/images/link-doctor-group.png" aria-hidden="true" />&nbsp; </label>
</div>*@

        </div>
        <div id="filters">
            <div id="filters-title">Filters:</div>
            <div class="radio">
                <label>
                    <input class="radioinput" type="radio" val="travellAgency" id="r-travellAgency" checkedonce="false">
                    &nbsp;&nbsp;<img class="user" src="~/images/travellAgency.png" aria-hidden="true" />&nbsp; Travel Agency
                </label>
            </div>

            <div class="radio ">
                <label>
                    <input class="radioinput" type="radio" val="doctor2" id="r-doctor2" checkedonce="false">
                    &nbsp;&nbsp;<img class="user" src="~/images/doctor2.png" aria-hidden="true" />&nbsp; Medic
                </label>
            </div>
            <div class="radio">
                <label>
                    <input class="radioinput" type="radio" val="doctor" id="r-doctor" checkedonce="false">
                    &nbsp;&nbsp;<img class="user" src="~/images/doctor.png" aria-hidden="true" />&nbsp; Certified Medic
                </label>
            </div>
            <div class="radio ">
                <label>
                    <input class="radioinput" type="radio" val="traveller" id="r-traveller" checkedonce="false">
                    &nbsp;&nbsp;<img class="user" src="~/images/traveller.png" aria-hidden="true" />&nbsp; Traveller
                </label>
            </div>
        </div>


    </div>
</div>
<br style="clear: both" />
<script> var QID = '@ViewBag.qid' </script>
