@{
    ViewBag.Title = "MainPage";
}

<h2>This is the page where we prompt users to Sign Up or Log In</h2>

<h2>Sign Up</h2>
@using (Html.BeginForm())
{
    @Html.Label("username")<br />
    @Html.TextBox("username")<br />
    
    <button type="submit" name="SignUp" value="SignUp">SignUp</button>
}

<br />
<h2>Log In</h2>
@using (Html.BeginForm())
{
    @Html.Label("username")<br />
    @Html.TextBox("username")<br />
    
    <button type="submit" name="LogIn" value="LogIn">LogIn</button>
}
